## Introduction to Scikit Learn

<img src = 'images/sklearn-6-step-ml-framework-tools-scikit-learn-highlight.png'>

<img src = 'images/sklearn-workflow-title.png'>

<img src = 'images/sk-learn_agenda.png'>

<img src = 'images/sklearn-intro-jupyter-notebook-header.png'>

## 0. An end-to-end Scikit-Learn workflow

In [1]:
# 1. Get the data ready 

import pandas as pd

heart_disease = pd.read_csv("./../data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
#create x (features matrix) - input
x = heart_disease.drop('target',axis=1)

# create y (labels) - output
y = heart_disease['target']

In [3]:
# 2. choosing the right right model and the hyper parameter problem

# this is classification problem and we will use Random forest 
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

# we will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# 3. fit the model to the training data

from sklearn.model_selection import train_test_split

# split the data
# 80% training data and 20% for testing
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [5]:
# training the model
clf.fit(x_train,y_train);

In [6]:
# making pridiction 
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0])

In [7]:
y_test

126    1
4      1
194    0
50     1
136    1
      ..
99     1
166    0
195    0
198    0
139    1
Name: target, Length: 61, dtype: int64

In [8]:
# 4. evaluting the model on the training data and test data

#checking on the training data; 
clf.score(x_train,y_train)
# so it comes 100% of the data it has already seen this data

1.0

In [9]:
#checking it with test data to get the actual score
clf.score(x_test,y_test)

0.819672131147541

In [10]:
# these are some additional matrics to look at other than just the above score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.78      0.81      0.79        26
           1       0.85      0.83      0.84        35

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [11]:
confusion_matrix(y_test,y_preds)

array([[21,  5],
       [ 6, 29]])

In [12]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [13]:
# 5. improve a model
# try different amount of n_estimators 
# how many estimators are best for our model
import numpy as np
np.random.seed(42)

for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set: {clf.score(x_test,y_test) * 100:0.2f}%")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 77.05%

Trying model with 20 estimators...
Model accuracy on test set: 75.41%

Trying model with 30 estimators...
Model accuracy on test set: 80.33%

Trying model with 40 estimators...
Model accuracy on test set: 86.89%

Trying model with 50 estimators...
Model accuracy on test set: 85.25%

Trying model with 60 estimators...
Model accuracy on test set: 83.61%

Trying model with 70 estimators...
Model accuracy on test set: 80.33%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 81.97%

In [14]:
# 6. save a model and load it
import pickle

pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [15]:
# loading a saved model
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(x_test,y_test)

# the accuracy matches with the last one from the loop

0.819672131147541

In [16]:
# standard imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Getting the data ready to be used with ML

Three steps process 
 1. Split the data into features and labels(usually x and y)
 2. Filling (also called imputing) or disregarding missing values
 3. Converting non-numerical values to numerical values ( also called feature encoding)

In [19]:
heart_disease = pd.read_csv("./../data/heart-disease.csv")

In [20]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
# this is the feature dataframe 
x = heart_disease.drop("target",axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [23]:
# the target dataframe

y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [25]:
# spliting the data into training and test sets. 
from sklearn.model_selection import train_test_split

# 80% is the training and 20% is test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [26]:
x_train.shape, x_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [28]:
x.shape

(303, 13)

In [29]:
len(heart_disease)

303

### Data Preparation 
* Clean The Data - Avoid, Garbage and any missing values(imputation) 
* Transform The Data - Everything in same unit, text values to numerial values(feature encoding)
* Reducing Data - Training a huge data involves cost - so we can't train everything, sometime we have to reduce the size of the data that we want to train

### 1.1 Making sure everything is numerical

In [32]:
car_sales = pd.read_csv('./../data/car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [34]:
len(car_sales)

1000

In [35]:
car_sales.dtypes

# so we will have encode the 'Make' and 'Colour' coloum to numerical.

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [36]:
# Let's try building the model without encoding

In [37]:
x = car_sales.drop("Price",axis=1)
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [38]:
y = car_sales['Price']

In [40]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [41]:
y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [42]:
# spliting into train and test sets
from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [43]:
x_train.shape, x_test.shape,y_train.shape,y_test.shape

((800, 4), (200, 4), (800,), (200,))

In [44]:
# build machine learning model 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train,y_train)
model.score(x_test,y_test)

# this gives an value error, it can't deal with string.

ValueError: could not convert string to float: 'Toyota'

In [46]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

#### Feature Encoding - Car Sales - Text to Numerial Values

In [49]:
# trun the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# defind the string columns 
# notice - door is a Categorical feature 
categorial_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorial_features)],
                               remainder="passthrough")
# finally transform 
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [51]:
pd.DataFrame(transformed_x).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [52]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

### One Hot Encoding 

<img src = "images/one-hot-encoding.png">

In [63]:
len(x["Make"].unique()), len(x["Colour"].unique()),len(x["Doors"].unique())

(4, 5, 3)

In [66]:
# one more way of doing it - using Pandas

dummies = pd.get_dummies(car_sales[["Make",'Colour','Doors']])
dummies
# didn't work on the Doors feature

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [67]:
# Let's refit the model

np.random.seed(42)
x_train,x_test,y_train,y_test = train_test_split(transformed_x,y,test_size=0.2)

# model alreay created above - RandomForestRegressor 
model.fit(x_train,y_train)
model.score(x_test,y_test)

# it works

0.3235867221569877

#### 1.2 Handling missing values
1. Fill them with some value(imputation). 
2. Remove the samples with missing data altogether.

In [68]:
missing_car_sales = pd.read_csv('./../data/car-sales-extended-missing-data.csv')
missing_car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [72]:
# calculate the total missing values in each value 
missing_car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [83]:
# create x and y

x = missing_car_sales.drop('Price',axis=1)
y = missing_car_sales['Price']

In [84]:
# converting the data to numbers 

from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

categorial_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()

transformer = ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorial_features)],
                               remainder='passthrough')

transformed_x1 = transformer.fit_transform(missing_car_sales)
trans_missing_car = pd.DataFrame(transformed_x1)

In [86]:
trans_missing_car.head()

# what the fuck is this output 

# check the previous note - the new version of the sklearn doesn't give error when the
# input contains NaNs

# however I think the delow out is anyway not useable

                                                   0
0    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1    (0, 0)\t1.0\n  (0, 6)\t1.0\n  (0, 13)\t1.0\n...
2    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
3    (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
4    (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...

#### Option-1: Fill missing data with Pandas

In [91]:
# filling the 'Make'

missing_car_sales['Make'].fillna("Missing",inplace=True)

# fill the colour column 
missing_car_sales['Colour'].fillna("Missing",inplace=True)

#fill the Odometer 
missing_car_sales['Odometer (KM)'].fillna(missing_car_sales['Odometer (KM)'].mean(),inplace=True)

# fill the doors coloumn
missing_car_sales["Doors"].fillna(4,inplace=True)

In [99]:
missing_car_sales.isna().sum()
# except price, because this is what we want to predict 
# drop these 50 rows

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [95]:
# we remove the missing label (target variable)

missing_car_sales.dropna(inplace=True)

In [96]:
missing_car_sales.isna().sum()
# no missing values now

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [98]:
len(missing_car_sales)
# lost 50 rows

950

In [100]:
# now doing the feature encoding again

x = missing_car_sales.drop('Price',axis=1)
y = missing_car_sales['Price']

In [107]:
# converting the data to numbers 

from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

categorial_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()

transformer = ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorial_features)],
                               remainder='passthrough')

transformed_x1 = transformer.fit_transform(missing_car_sales)
pd.DataFrame(transformed_x1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0,32042.0
946,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,155144.0,5716.0
947,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0,31570.0
948,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,215883.0,4001.0
949,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0,12732.0

### Option-2: Fill missing values with Sci-kit Learn